{% load markdown_to_html %}
{% load static %}
{% comment %} {% csrf_token %} {% endcomment %}
<div class="card mb-3 light">
  <div class="row g-0 ">
    <div class="col-md-12">
      <div class="card-header text-end">
        {% comment %} {% if user.is_authenticated %}
          {% if user in card.favourites_word.all %}
                       <a href="{% url 'favourites_word' id=card.id %}" class="favourites-button favourited"><i class="bi bi-star-fill"></i></a>
          {% else %}
            <a href="{% url 'favourites_word' id=card.id %}" class="favourites-button"><i class="bi bi-star"></i></a>
          {% endif %}
        {% else %}
            <a href="{% url 'favourites_word' id=card.id %}" class="favourites-button"><i class="bi bi-star"></i></a>
        {% endif %} {% endcomment %}
        {% if user.is_authenticated %}
          {% if user in card.favourites_word.all %}
            <a href="#" class="favourites-button favourited" data-card-id="{{ card.id }}"><i class="bi bi-star-fill ms-2 h5"></i></a>
          {% else %}
            <a href="#" class="favourites-button" data-card-id="{{ card.id }}"><i class="bi bi-star ms-2 h5"></i></a>
          {% endif %}
        {% else %}
            <a href="{% url 'users:login' %}"><i class="bi bi-star ms-2 h5"></i></a>
        {% endif %} 
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">{{ card.en_word }}<a href="{% url 'speak' word=card.en_word %}"><i class="bi bi-volume-up ms-2 h2"></i></a>
</h4>
        <p class="card-text text-muted">{{ card.transcription }}</p>
        <h4 class="card-text">{{ card.rus_word }}</h4>
      </div>
    </div>
  </div>
</div>
