{% comment %} <div class="container mt-3 col-auto">
  <div class="container_flip">
    <div class="card-wrapper flip-right">
      <div class="card mb-3 light">
        <div class="front">
          <div class="row g-0 ">
            <div class="col-md-12">
              <div class="card-body text-center">
                <h1>{{ card.en_word }}</h1>
                <h2>{{ card.transcription }}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="row g-0 ">
            <div class="col-md-12">
              <div class="card-body text-center">
                <h2>{{ card.rus_word }}</h2>
              </div>
              <div class="card_footer">
                <button class="btn btn-secondary" style="background-color: #4d59fb">Запомнил</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="content">
          <div class="front">
            <h1>{{ card.card.en_word }}</h1>
            <h2>{{ card.card.transcription }}</h2>
            <div class="card_footer">
              <h5>Правильных ответов: {{ card.rights_word }} / Ошибочных ответов: {{ card.errors_word }}</h5>
            </div>
          </div>
          <div class="back">
            <h2>{{ card.card.rus_word }}
              <a href="#" class="play-audio-button" data-word="{{ card.card.en_word }}"><i class="bi bi-volume-up ms-2"></i></a>
            </h2>
            <div class="card_footer">
              <button class="btn btn-primary">Запомнил</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
