<div class="container_flip">
  <div class="card-wrapper flip-right">
    <div class="card">
      <div class="front">
        <div class="row">
          <h1>{{ card.en_word }}</h1>
          <h2>{{ card.transcription }}</h2>
        </div>
      </div>
      <div class="back">
        <div class="card_body">
          <h2>{{ card.rus_word }}</h2>
        </div>
        <div class="card_footer">
          <button class="btn btn-secondary" style="background-color: #4d59fb">Запомнил</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
