{% load static %}
<div class="card mb-3 light">
  <div class="row g-0">
    <div class="col-md-3 d-flex align-items-center justify-content-center">
      <div class="p-3 d-md-block">
        <img src="{% static 'flip_cards_app/img/images/' %}{{ word.img_name_file }}.jpg"
             class="img-fluid card-img-pic"
             alt="{{ word.en_word }}"
             onerror="this.remove();">
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-header text-end">
        {% if user.is_authenticated %}
          <div class="dropdown d-inline">
            <button class="btn btn-link favorites-btn p-0"
                    data-bs-toggle="dropdown"
                    data-word-id="{{ word.id }}">
              <i title="Добавить/удалить слово в избранное"
                 class="bi {% if user in word.favorites_word.all %}bi-heart-fill{% else %}bi-heart{% endif %}"
                 style="color:#68539E"></i>
            </button>
            <ul class="dropdown-menu">
              {% if user in word.favorites_word.all %}
                <li>
                  <a class="dropdown-item remove-favorite"
                     href="#"
                     data-word-id="{{ word.id }}">
                    <i class="bi bi-x-circle"></i> Убрать из избранного
                  </a>
                </li>
              {% else %}
                <li>
                  <h6 class="dropdown-header">Добавить в избранное</h6>
                </li>
              {% endif %}
              {% for folder in user.favoritefolder_set.all %}
                <li>
                  <a class="dropdown-item folder-select {% if word.favoriteswords_set.first.folder_id == folder.id %}active{% endif %}"
                     href="#"
                     data-folder-id="{{ folder.id }}"
                     data-word-id="{{ word.id }}"><i class="bi bi-folder"></i> {{ folder.name }}</a>
                </li>
              {% endfor %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item new-folder-btn" href="#">
                  <i class="bi bi-plus-circle"></i> Новая папка
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">
          {{ word.en_word }}
          <a href="#" class="play-audio-button" data-word="{{ word.en_word }}">
            <i class="bi bi-volume-up ms-2"
               style="color:#68539E"
               title="Прослушать слово"></i>
          </a>
        </h4>
        <p class="card-text text-muted">{{ word.transcription }}</p>
        <h4 class="card-text">{{ word.rus_word }}</h4>
      </div>
    </div>
  </div>
</div>
