{% load static %}
<div class="card mb-3 light">
  <div class="row g-0 ">
    <div class="col-md-3 d-flex align-items-center justify-content-center">
      <div class="p-3 d-md-block">
          <img src="{% static 'flip_cards_app/img/images/' %}{{ word.word.img_name_file }}.jpg" class="img-fluid card-img-pic" alt="{{ word.word.en_word }}" onerror="this.remove();">
        {% comment %} <i class="bi bi-question-circle-fill" style="font-size: 3rem;"></i> {% endcomment %}
      </div>
    </div>

    <div class="col-md-9">
      <div class="card-header d-flex">
        {% if word.is_learned %}
            <a href="#" class="learned-btn" data-word-id="{{ word.id }}"><i title="Слово изучено" class="bbi bi-patch-check-fill ms-2 h5"></i></a>
        {% else %}
            <a href="#" class="learned-btn" data-word-id="{{ word.id }}"><i title="Слово не изучено" class="bi bi-patch-check ms-2 h5"></i></a>
        {% endif %}
            <a href="#" class="favorites-button favorited" data-word-id="{{ word.word.id }}"><i title="Добавить/удалить слово в избранное" class="bi bi-star-fill ms-2 h5"></i></a>
        <span class="ms-auto"><i title="Количество правильных ответов" class="fa-regular fa-face-smile fa-xl" style="color: #31d41c;"></i> - {{ word.rights_word }} <i title="Количество неправильных ответов" class="fa-regular fa-face-angry fa-xl" style="color: #e70d0d;"></i> - {{ word.errors_word }}</span>    
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">{{ word.word.en_word }}
          <a href="#" class="play-audio-button" data-word="{{ word.word.en_word }}"><i class="bi bi-volume-up ms-2"></i></a>
        </h4>
        <p class="card-text text-muted">{{ word.word.transcription }}</p>
        <h4 class="card-text">{{ word.word.rus_word }}</h4>
      </div>
    </div>
  </div>
</div>
