{% extends "base.html" %}
{% block content %}
   <h1>Общий словарь английских слов</h1>
   <p class="all_text">Здесь вы можете выбрать слова для изучения</p>
   <p class="all_text">На данный момент всего слов: {{ page_obj.paginator.count }}</p>
   {% comment %} Пагинация начало {% endcomment %}
   <div class="col-12">{% include "includes/pagination.html" %}</div>
   {% comment %} Пагинация конец {% endcomment %}
   <p>
      <div class="container mt-3 col-auto">
         <form method="GET" action="{% url 'catalog' %}">
            <div class="row">
               <div class="input-group mb-3">
                  <input type="search"
                         class="form-control"
                         placeholder="Поиск слов..."
                         aria-label="Поиск слов..."
                         name="search_query"
                         value="{{ request.GET.search_query }}">
                  <button class="btn btn-outline-secondary"
                          style="background-color: #4d59fb"
                          type="submit">
                     <i class="bi bi-search"></i>
                  </button>
               </div>
            </div>
         </form>
      </div>
   </p>
   <div class="row">
      {% for word in words %}
         <div class="col-12 col-lg-6">{% include "includes/word_preview.html" %}</div>
      {% endfor %}
   </div>
   {% comment %} Пагинация начало {% endcomment %}
   <div class="col-12">{% include "includes/pagination.html" %}</div>
   {% comment %} Пагинация конец {% endcomment %}
{% endblock content %}
