{% extends "base.html" %}
{% block content %}
   <h1>Каталог избранных слов</h1>
   <p class="all_text">Здесь вы можете выбрать слова для изучения</p>
   <p class="all_text">На данный момент всего слов: {{ page_obj.paginator.count }}</p>
   {% if messages %}
      <ul class="messages">
         {% for message in messages %}
            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
      </ul>
   {% endif %}
   {% comment %} Пагинация начало {% endcomment %}
   {% if page_obj.paginator.num_pages != 1 %}
      <div class="col-12">{% include "includes/pagination.html" %}</div>
   {% endif %}
   {% comment %} Пагинация конец {% endcomment %}
   <p>
      <div class="container mt-3 col-auto">
         <form method="GET" action="{% url 'favorites' %}">
            <div class="row">
               <div class="input-group mb-3">
                  <input type="search"
                         class="form-control"
                         placeholder="Поиск слов..."
                         aria-label="Поиск слов..."
                         name="search_query"
                         value="{{ request.GET.search_query }}">
                  <button class="btn btn-primary" type="submit">
                     <i class="bi bi-search"></i>
                  </button>
               </div>
            </div>
         </form>
      </div>
      <div class="container mt-3 col-auto">
         <form method="post" enctype="multipart/form-data">
            <div class="row">
               <div class="input-group mb-3">
                  {% csrf_token %}
                  <input class="form-control" type="file" accept=".txt" name="file">
                  <button class="btn btn-primary" type="submit">
                     <i class="fa fa-upload"></i>
                  </button>
               </div>
            </div>
         </form>
      </div>
   </p>
   <div class="row">
      {% for word in words %}
         <div class="col-12 col-lg-6">{% include "includes/word_preview_favorite.html" %}</div>
      {% endfor %}
   </div>
   {% comment %} Пагинация начало {% endcomment %}
   {% if page_obj.paginator.num_pages != 1 %}
      <div class="col-12">{% include "includes/pagination.html" %}</div>
   {% endif %}
   {% comment %} Пагинация конец {% endcomment %}
{% endblock content %}
