{% extends "base.html" %}
{% block content %}
  <body>
    <center>
      <h1 class="title text-center"><strong>Игра определи слова</strong></h1>
      <h1>
        Осталось: <b id="remains">{{ words_game.0.items|length }}</b> Ошибок: <b id="errors_count">0</b>
      </h1>
      <br />
      <div class="container_game">
        <span id="block1">
          {% for key, value in words_game.0.items %}
            <div class="card_z" id="zs1{{ key }}">
              <div id="l{{ key }}" class="card1" onclick='click1(id,"{{ value }}");'>{{ value }}</div>
            </div>
          {% endfor %}
        </span>
        <span id="block2">
          {% for key, value in words_game.1.items %}
            <div class="card_z" id="zs2{{ key }}">
              <div id="r{{ key }}"
                   class="card1 black"
                   onclick='click1(id,"{{ value }}");'>{{ value }}</div>
            </div>
          {% endfor %}
        </span>
      </div>
      <button class="btn btn-primary" onclick="location.reload()">Перезапустить</button>
    </center>
  </body>
{% endblock content %}
