<!--Меню было вставлено через include в базовый шаблон-->
<nav class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #1b5589">
  <div class="container-fluid">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% for item in menu %}
          <a class="nav-link" href="{% url item.url_name %}">{{ item.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
