<!--Меню было вставлено через include в базовый шаблон-->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Логотип и кнопка для мобильных версий -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Ссылки навигации и аутентификация -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto">
        <!-- me-auto класс выравнивает элементы меню по левому краю -->
        {% for item in menu %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url item.url_name %}">{{ item.title }}</a>
          </li>
        {% endfor %}
        <!-- выпадающее меню -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">Игры</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'game' %}">Игра - Определи слова</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'scramble_game' %}">Игра - Угадай слово</a>
            </li>
          </ul>
        </li>
      </ul>
      {% comment %} </ul> {% endcomment %}
      <ul class="navbar-nav">
        <!-- Элементы правой части без выравнивания по левому краю -->
        {% if user.is_authenticated %}
          <li class="nav-item">
            {% comment %} <a class="nav-link" href="{% url 'users:profile' %}" aria-current="page">Привет, {{ user.username }}!</a> {% endcomment %}
            <a class="nav-link" href="{% url 'profile' %}" aria-current="page">Привет, {{ user.username }}!</a>
          </li>
          <li>
            <form id="logout-form" action="{% url 'users:logout' %}" method="post">
              <a class="nav-link"
                 href="#"
                 onclick="document.getElementById('logout-form').submit(); return false;">Выйти</a>
              {% csrf_token %}
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            {% comment %} <a class="nav-link" href="{% url 'users:login' %}">Войти</a> {% endcomment %}
            <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
          </li>
          <li class="nav-item">
            {% comment %} <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a> {% endcomment %}
            <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">О проекте</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
