{% extends "base.html" %}
{% block content %}
{% load static %}
   <link rel="stylesheet" href="{% static 'cards/css/style_flip.css' %}" />
   <h1>Общий словарь английских слов</h1>
   <p class="all_text">Здесь вы можете выбрать слова для изучения</p>
   <p class="all_text">На данный момент у вас для изучения: {{ page_obj.paginator.count }} слов</p>
   {% comment %} Пагинация начало {% endcomment %}
   <div class="col-12">{% include "includes/pagination.html" %}</div>
   {% comment %} Пагинация конец {% endcomment %}
   <p>
      <div class="container mt-3 col-auto">
         <form method="GET" action="{% url 'flip-cards' %}">
            <div class="row">
               <div class="input-group mb-3">
                  <input type="search"
                         class="form-control"
                         placeholder="Поиск слов..."
                         aria-label="Поиск слов..."
                         name="search_query"
                         value="{{ request.GET.search_query }}">
                  <button class="btn btn-outline-secondary"
                          style="background-color: #4d59fb"
                          type="submit">
                     <i class="bi bi-search"></i>
                  </button>
               </div>
            </div>
         </form>
      </div>
   </p>
   <div class="row">
         {% for card in flip_cards %}
            <div class="col-12">{% include "includes/flip_card.html" %}</div>
         {% endfor %}
   </div>  
   <br>    
   {% comment %} Пагинация начало {% endcomment %}
   <div class="col-12">{% include "includes/pagination.html" %}</div>
   {% comment %} Пагинация конец {% endcomment %}
   {% endblock content %}
