body {
  background-color: AliceBlue;
}

span {
  margin-right: 2px;
}

.hljs {
  background: #1b5589 !important;
}

.pagination {
  --bs-pagination-color: #1b5589;
  --bs-pagination-hover-color: #6d6d6d;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-border-color: #1b5589;
  --bs-pagination-active-bg: #1b5589;
  --bs-pagination-hover-bg: #9dcbf3;
}
