<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Активация аккаунта</title>
    </head>
    <body>
        <h2>Здравствуйте, {{ user.first_name|default:user.username }}!</h2>
        <p>Спасибо за регистрацию на сайте Flip-Cards. Для активации вашего аккаунта, пожалуйста, перейдите по ссылке:</p>
        <p>
            <a href="{{ activation_url }}">Активировать аккаунт</a>
        </p>
        <p>Ссылка действительна в течение {{ valid_days }} дней.</p>
        <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>
        <p>
            С уважением,
            <br>
            Команда Flip-Cards
        </p>
    </body>
</html>
