{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Ввод нового пароля</h2>
<form method="post">
    {% csrf_token %}
    <div class="col-6">
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            <input class="form-control" type="password" name="{{ field.name }}">
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>    
    <button type="submit" class="btn btn-primary">Изменить пароль</button>
</form>
{% endblock content %}
