{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h2>Восстановление пароля</h2>
    <form method="post">
        {% csrf_token %}
        <div class="col-6">
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                <input class="form-control" type="email" name="{{ field.name }}">
                {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
                {% for error in field.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
            </div>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Запрсить новый пароль</button>
    </form>
{% endblock content %}
