/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@400;500;600;700&display=swap'); */
/* body {
  background-color: AliceBlue;

} */
.rotateImg {
  transition: 1s;
}

.rotateImg:hover {
  transform: scale(1.2);
  /* transform: rotate(360deg) scale(1.2); */
}

.card-img-pic {
  transition: 1s;
}

.card-img-pic:hover {
  transform: scale(2);
  /* transform: rotate(360deg) scale(1.2); */
}

h1 {
  text-align: center;
  /*font-family: cursive;*/
  /* font-family: "Pacifico", cursive; */
  color: #afb4fd;
}
.all_text {
  /*font-family: cursive;
  /* font-family: "Pacifico", cursive; */
  color: #afb4fd;
}
h4 {
  /*font-family: cursive;
  /* font-family: "Pacifico", cursive; */
}
.card-text {
  /*font-family: cursive;
  /* font-family: "Pacifico", cursive; */
}
span {
  margin-right: 2px;
}

.hljs {
  background: #1b5589 !important;
}

.pagination {
  --bs-pagination-color: #4d59fb;
  --bs-pagination-hover-color: #6d6d6d;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-border-color: #afb4fd;
  --bs-pagination-active-bg: #4d59fb;
  --bs-pagination-hover-bg: #9dcbf3;
  --bs-pagination-border-color: #afb4fd;
}

/* select option:checked {
  select: red !important;
} */

.badge-info {
  background-color: #5288b9;
}

.badge-info:hover {
  background-color: #2d6987;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .btn {
  color: #fff;
  background: #1b5589 !important;
  border-color: #1b5589 !important;
}

input[type="radio"]:hover + .btn {
  color: #fff;
  background-color: #9dcbf3;
}

.btn-group .btn {
  color: #1b5589;
  border-color: #1b5589;
}

/* .btn-secondary {  */
  /* --bs-btn-bg: #1b5589; */
  /* --bs-btn-border-color: #1b5589; */
  /* --bs-btn-hover-color: #9dcbf3; */
  /* --bs-btn-active-color: var(--bs-btn-hover-color); */ */
/* --bs-btn-color: #1b5589; */
/* --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)}; */
/* --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)}; */
/* --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)}; */

button[type="reset"] {
  position: relative;
  left: -20px;
  color: #666;
  border: 0;
  display: none;
  padding: 0 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: background 200ms;
  outline: none;

  &:hover {
    background-color: #eee;
  }
}

input:valid ~ button[type="reset"] {
  display: block;
}

/* главная страница */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container1 {
  display: flex;
  justify-content: center;
  min-height: 10vh;
}
body {
  /* background: -webkit-linear-gradient(-45deg, #8363a1 0%, #74a8c3 100%); */
  /* background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%); } */
  background: #4d59fb;
}
h2 {
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
}
label, .helptext {
  color: #afb4fd;
}


/* для игры */
.title {
  padding: 10px;
  text-align: center"
}
.card1 {
  background-color: #fff;
  padding: 8px 11px;
  color: #555;
  cursor: pointer;
  margin: -1px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* font-family: "Pacifico", cursive; */
  font-size: 20px;
  line-height: 15px;
}
.card_z {
  margin: 10px;
  margin-top: 10px;
  background-color: #eee;
  transition: 0.5s;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.black {
  background-color: #1d2731;
  color: #fff;
  border-color: #1d2731;
}
.table {
  display: none;
}

.container_game {
  display: flex;
  justify-content: center;
}

.btn-primary {
  background-color: #4d59fb !important;
  border-color: #afb4fd !important;

  &:hover {
    background-color:  #9dcbf3 !important;
    border-color:  #9dcbf3 !important;
    color: #4d59fb !important;
  }
    /* --bs-pagination-color: #4d59fb;
  --bs-pagination-hover-color: #6d6d6d;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-border-color: #afb4fd; */
}